measurements
myapp.service
application
application.ini
application.sock
.env
venv
bin
var
lib
__pycache__
__pycache__\
userUploads
userUploads\
.sqlite
data-dev.sqlite
redis-stable
redis-stable\
dump.rdb
.dockerignore
docker-compose.yml
build.sh
celery.log
celery.pid
